<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome {{key.name}}</h1>

	<form action="addData" method="POST">
		{% csrf_token %}
		<label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" value="{{key.email}}"  required>
    <br>
    <label><b>User Name</b></label>
    <input type="text" placeholder="Enter User Name" name="name" value="{{key.name}}" required>
    <br>
    <label><b>Contact Number</b></label>
    <input type="text" placeholder="Enter Contact Number" name="contact" value="{{key.contact}}" required>
    <br>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" value="{{key.password}}"  required>
    <br>
    <input type="submit" name="btnsubmit" value="update">
	</form>

</body>
</html>